{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-6">
            <div class="bg-light py-3 px-3">
                {{ form_start(form) }} 

                {{ form_label(form.oldPassword) }}
                <div class="form-group input-group">
                    {{ form_widget(form.oldPassword) }}
                    <div class="input-group-append">
                        <span class="input-group-text" id ="show-current">
                            <i id="eye-current" class="far fa-eye-slash"></i>
                        </span>
                    </div>
                </div>
                {{ form_label(form.newPassword) }}
                <div class="form-group input-group">
                    {{ form_widget(form.newPassword) }}
                    <div class="input-group-append">
                        <span class="input-group-text" id ="show-new">
                            <i id="eye-new" class="far fa-eye-slash"></i>
                        </span>
                    </div>
                </div>
                {{ form_label(form.confirmPassword) }}
                <div class="form-group input-group">
                    {{ form_widget(form.confirmPassword) }}
                    <div class="input-group-append">
                        <span class="input-group-text" id ="show-confirm">
                            <i id="eye-confirm" class="far fa-eye-slash"></i>
                        </span>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div> 
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#show-current').hover(function () {
                $('#password_update_oldPassword').attr('type', $('#password_update_oldPassword').is(':password') ? 'text' : 'password');
                if ($('#password_update_oldPassword').attr('type') === 'password') 
                {
                    $('#eye-current').removeClass('fa-eye').addClass('fa-eye-slash');
                } 
                else 
                {
                    $('#eye-current').removeClass('fa-eye-slash').addClass('fa-eye');
                }
            });
            $('#show-new').hover(function () {
                $('#password_update_newPassword').attr('type', $('#password_update_newPassword').is(':password') ? 'text' : 'password');
                if ($('#password_update_newPassword').attr('type') === 'password') 
                {
                    $('#eye-new').removeClass('fa-eye').addClass('fa-eye-slash');
                } 
                else 
                {
                    $('#eye-new').removeClass('fa-eye-slash').addClass('fa-eye');
                }
            });
            $('#show-confirm').hover(function () {
                $('#password_update_confirmPassword').attr('type', $('#password_update_confirmPassword').is(':password') ? 'text' : 'password');
                if ($('#password_update_confirmPassword').attr('type') === 'password') 
                {
                    $('#eye-confirm').removeClass('fa-eye').addClass('fa-eye-slash');
                } 
                else 
                {
                    $('#eye-confirm').removeClass('fa-eye-slash').addClass('fa-eye');
                }
            });
        });
    </script>
{% endblock %}
