{% extends 'base.html.twig' %} 

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/dataTables/dataTables.bootstrap4.min.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <table class = "table display responsive table-striped" width = "100%"  id = "liste-amende">    
                    <thead>
                        <tr>
                            <th>{% trans %}Dated{% endtrans %}</th>
                            <th>{% trans %}Number{% endtrans %}</th>
                            <th>{% trans %}Amount {% endtrans %}</th>
                            <th>{% trans %}Vehicle{% endtrans %}</th> 
                            <th>{% trans %}Driver{% endtrans %}</th>
                            <th class = "text-right">{% trans %}Action{% endtrans %}</th>   
                        </tr>
                    </thead>
                    <tbody>
                        {% for amende in amendes %}
                            {% set chauffeur = null %} 
                            <tr>
                                <td>{{amende.dateAmende | date('d.m.Y') }}</td>
                                <td>{{amende.numAmende}}</td>
                                <td>{{amende.montantAmende}} €</td>
                                <td>{{amende.vehicule.immatriculationVehicule}}</td>
                                <td>
                                    {% for affectation in affectations %}  
                                        {% if amende.dateAmende | date('Y-m-d') == affectation.dateAffectation |  date('Y-m-d')  and amende.vehicule.id  == affectation.vehicule.id %} 
                                            {% set chauffeur = affectation.chauffeur %}
                                        {% endif %}    
                                    {% endfor %}
                                    {% if chauffeur %}
                                       {{chauffeur.nomChauffeur}} {{chauffeur.prenomChauffeur}}
                                    {% else %}
                                        No driver found
                                    {% endif %}   
                                </td>
                                <td class = "text-right">
                                    <a href="{{ path('secretariat_amende_details', {'id': amende.id}) }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}See details{% endtrans %}" class="btn btn-outline-dark"><i class="fas fa-eye"></i></a>
                                    <a href="{{ path('secretariat_amende_modifier', {'id': amende.id}) }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Edit fine{% endtrans %}" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr> 
                        {% endfor %}   
                    </tbody>
                </table>  
             </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" language="javascript" src="/js/dataTables/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="/js/dataTables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/dataTables/moment.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/dataTables/date-eu.js"></script>
    
    {# pagination/recherche/tri dans un tableau #}
    <script type="text/javascript" class="init">
        $(document).ready(function()
        {    
            locale = '{{app.request.locale}}';  
            $('#liste-amende').DataTable( 
            {      
                language: { "url":"/js/dataTables/"+locale+".lang" },
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Tous"]],
                order: [ 0, 'desc' ],
                columnDefs: 
                [
                    {
                        targets: [0 ],
                        type: 'date-eu' 
                    },
                    {
                        targets: [ 5 ],
                        bSortable: false,
                        searchable: false
                    },
                ]           
            });
        });
    </script>
    {# affichage d'une infobule au passage de la souris sur une cellule du tableau #}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script> 
{% endblock %}    