<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hayam : Contact {{ contact.service}}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h3>Hayam : {% trans %}contact form{% endtrans %} </h3>
            <div class="row">
                <div class="col" >{% trans %}{% endtrans %}
                    <p><strong>{% trans %}{% endtrans %} :</strong> {{ contact.service }}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p><strong>{% trans %}Sender{% endtrans %} :</strong></p>
                    <p><strong>{% trans %}Last name{% endtrans %} :</strong> {{ contact.nom }}</p>
                </div>
                <div class="col">
                    <p><strong>{% trans %}First name{% endtrans %} :</strong> {{ contact.prenom }}</p>
                </div>
                <div class="col">
                <p><strong>{% trans %}Email{% endtrans %} :</strong>  {{ contact.email }}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p><strong>{% trans %}Subject{% endtrans %} :</strong></p>
                    <p>{{ contact.sujet }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><strong>{% trans %}Message{% endtrans %} :</strong></p>
                    <p>{{ contact.message | nl2br}}</p>
                </div>
            </div>
            <hr>
        </div>
    </body>
</html>