{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <dl class= "row"> 
                    <dt class="col-md-4">{% trans %}First name{% endtrans %} :</dt>
                    <dd class="col-md-8">{{user.nomSecretariat}}</dd>
                    <dt class="col-md-4">{% trans %}Last name{% endtrans %} :</dt>
                    <dd class="col-md-8">{{user.prenomSecretariat}}</dd>
                    <dt class="col-md-4">{% trans %}Email{% endtrans %} :</dt>
                    <dd class="col-md-8">{{user.emailSecretariat}}</dd>
                    <dt class="col-md-4">{% trans %}Service{% endtrans %} :</dt>
                    <dd class="col-md-8">{{service}}</dd>         
                </dl>
            </div> 
            <div class="col-4"></div>
        </div>
        {{form_start(form)}}
        {{form_row(form.sujet)}}
        {{form_row(form.message)}}
        <div class="form-group">
            {{ form_label(form.fichier) }} 
            <span class="invalid-feedback d-block mb-2" >
                <span class="d-block" >
                    <span class="form-error-icon badge badge-danger text-uppercase" id="error1"  style="display:none;">Error</span><span class="form-error-message" id="message1" style="display:none;" > {% trans %}Invalid file format! File format must be only "PDF"{% endtrans %}.</span>
                </span>  
            </span>
            <span class="invalid-feedback d-block mb-2" >
                <span class="d-block" style="display:none;" >
                    <span class="form-error-icon badge badge-danger text-uppercase" id="error2"  style="display:none;">Error</span><span class="form-error-message" id="message2" style="display:none;" > {% trans %}Maximum file size limit is 4 MB{% endtrans %}.</span>
                </span>  
            </span>          
            {{ form_widget(form.fichier) }}
            {{ form_help(form.fichier) }}
         </div>     
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {# Permet de controler la taille et l'extension du fichier coté client avant l'upload du fichier pour prevenir "au mieux" la limite su serveur PHP (php.ini) #}
    <script type="application/javascript">   
        $('#contact_fichier').bind('change', function(e) 
        {
            var ext = $('#contact_fichier').val().split('.').pop().toLowerCase();
            // si ce n'est pasun pdf => erreur1 + message1
            if (ext !='pdf')
            {
                document.getElementById("error1").style.display = "inline";
                document.getElementById('message1').style.display = "inline";
                document.getElementById('error2').style.display = "none";
                document.getElementById('message2').style.display = "none";
                $('#contact_fichier').val(null);
                $('.custom-file-label').html('{% trans %}Select a file{% endtrans %}');
                a=0;
            }
            else
            {
                var filesize = (this.files[0].size);
                //si > 4M => erreur2 + message2
                if (filesize > 4000000)
                {
                    document.getElementById('error2').style.display = "inline";
                    document.getElementById('message2').style.display = "inline";
                    $('#contact_fichier').val(null);
                    $('.custom-file-label').html('{% trans %}Select a file{% endtrans %}');
                    a=0;
                }
                else
                {
                    a=1;
                    document.getElementById('error2').style.display = "none";
                    document.getElementById('message2').style.display = "none";
                }

                document.getElementById('error1').style.display = "none";
                document.getElementById('message1').style.display = "none";
                
                if (a==1)
                { 
                    $('#contact_save').attr('disabled',false);
                    var fileName = e.target.files[0].name;
                    $('.custom-file-label').html(fileName); 
                }
            }
        });
    </script>
{% endblock %}