{% extends 'base.html.twig' %} 

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/dataTables/dataTables.bootstrap4.min.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <table class = "table table-hover display responsive table-striped" width = "100%"  id = "liste-modele-vehicule">    
                    <thead>
                        <tr>
                            <th>{% trans %}Model name{% endtrans %}</th>
                            <th>{% trans %}Brand{% endtrans %}</th>
                            <th>{% trans %}Capacity{% endtrans %}</th>
                            <th class = "text-right">{% trans %}Action{% endtrans %}</th>   
                        </tr>
                    </thead>
                    <tbody>
                        {% for modeleVehicule in modeleVehicules %}
                            <tr>
                                <td>{{modeleVehicule.nomModeleVehicule }}</td>
                                <td>{{modeleVehicule.marqueModeleVehicule}}</td>
                                <td>{{modeleVehicule.capaciteModeleVehicule}}</td>                               
                                <td class = "text-right">
                                    <a href="{{ path('secretariat_modele-vehicule_modifier', {'id': modeleVehicule.id}) }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Edit model{% endtrans %}" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr> 
                        {% endfor %}   
                    </tbody>
                </table>  
             </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" language="javascript" src="/js/dataTables/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="/js/dataTables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/dataTables/moment.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/dataTables/date-eu.js"></script>

    {# pagination/recherche/tri dans un tableau #}
    <script type="text/javascript" class="init">
        $(document).ready(function()
        {    
            locale = '{{app.request.locale}}';  
            $('#liste-modele-vehicule').DataTable( 
            {   
                language: { "url":"/js/dataTables/"+locale+".lang" },
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Tous"]],
                order: [ 0, 'asc' ],
                columnDefs: 
                [
                    {
                        targets: [ 3 ],
                        bSortable: false,
                        searchable: false
                    },
                ]                  
            });
        });
    </script>
    
    {# affichage d'une infobule au passage de la souris sur une cellule du tableau #}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}    