{% extends 'base.html.twig' %} 

{% block body %}
    <div class="container-fluid">
        <div class="card-deck">
			{# Card: Colis détails #}
			<div class="card mb-3">
                <h3 class="card-header">{% trans %}Parcel{% endtrans %}</h3>
				<div class="card-body">
                    <dl class="row">
                        <dt class="col-md-4">{% trans %}Parcel number{% endtrans %} : </dt>
                        <dd class="col-md-8">{{colis.numeroColis}}</dd> 
                        <dt class="col-md-4">{% trans %}Last name{% endtrans %} :</dt>
                        <dd class="col-md-8">{{colis.nomDestinataire}}</dd>
                        <dt class="col-md-4">{% trans %}First name{% endtrans %} :</dt>
                        <dd class="col-md-8">{{colis.prenomDestinataire}}</dd>                            
                        <dt class="col-md-4">{% trans %}Address{% endtrans %} :</dt>
                        <dd class="col-md-8">{{colis.adresseDestinataire}}</dd>
                        <dt class="col-md-4">{% trans %}Number{% endtrans %} : </dt>
                        <dd class="col-md-8">{{colis.numeroAdresseDestinataire}}</dd>
                        <dt class="col-md-4">{% trans %}Postal code{% endtrans %} : </dt>
                        <dd class="col-md-8">{{colis.codePostal.numCodePostal}}</dd>
                        <dt class="col-md-4">{% trans %}Locality{% endtrans %} : </dt>
                        <dd class="col-md-8">{{colis.codePostal.localiteCodePostal}}</dd>
                        <dt class="col-md-4">{% trans %}Comments{% endtrans %} : </dt>
                        <dd class="col-md-8">{% if not colis.noteColis %} "{% trans %}No comments{% endtrans %}"{% endif %}</dd>           
                    </dl>
                    <p >{% if colis.noteColis %}{{colis.noteColis | raw}}{% endif %}</p>	                                
                </div>
                <div class="card-footer"> 
                    <a href="{{ path('logistique_tournee_colis', {'id': idTournee })}}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Round parcels list{% endtrans %}" class="btn btn-outline-dark card-link center"><i class="fas fa-list"></i></a>    
                    {% if colis.typeColis %}  
                        <a href="{{ path('logistique_expedition_modifier', {'id': colis.id}) }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Edit delivery{% endtrans %}" class="btn btn-outline-warning card-link center"><i class="fas fa-edit"></i></a> 
                    {% else %}   
                        <a href="{{ path('logistique_enlevement_modifier', {'id': colis.id}) }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Edit pickup{% endtrans %}" class="btn btn-outline-warning card-link center"><i class="fas fa-edit"></i></a>
                    {% endif %}    
                </div>
            </div> 
            {# Card: suiviColis détail #}          
			<div class="card mb-3"> 
                {% set cloturer = 0 %}
                {% set enquete = 0 %}
                <h3 class="card-header">{% trans %}Tracking History{% endtrans %}</h3>  
                <div class="card-body">
                    <table class = "table display responsive table-striped" width = "100%">    
                        <thead>
                            <tr>
                                <th>{% trans %}Date{% endtrans %}</th>
                                <th>{% trans %}Statut code{% endtrans %}</th>
                                <th>{% trans %}Statut info{% endtrans %}</th>                         
                            </tr>
                        </thead>    
                        <tbody>
                            {% for suiviColis in suiviColis %}
                                <tr>
                                    <td>{{suiviColis.dateSuiviColis | date('d/m/Y - H:m ')}}</td>
                                    <td>{{suiviColis.etat.codeEtat}}</td>
                                    <td>{{suiviColis.etat.DescriptifEtat}}</td>
                                </tr>
                                {% if suiviColis.etat.codeEtat == 999 %} {% set cloturer = 1 %} {% endif %}
                                {% if suiviColis.etat.codeEtat == 008 %} {% set enquete = 1 %} {% endif %}
                            {% endfor %} 
                        </tbody>
                    </table>                                  
                </div>
                <div class="card-footer">
                    {% if not cloturer %}
                        <a href="{{ path('logistique_colis_cloturer', {'id': colis.id})  }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Tag as delivered{% endtrans %}" class="btn btn-success card-link center"><i class="fas fa-file-signature"></i></a>
                    {% endif %}
                    {% if not enquete %}
                        <a href="{{ path('logistique_colis_litige', {'id': colis.id}) }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Tag as issue{% endtrans %}"class="btn btn-outline-danger card-link center"><i class="fas fa-file"></i></a>  
                    {% endif %}
                </div>
            </div>
		</div>
    </div>
{% endblock %}
{% block javascripts %}
{# affichage d'une infobule au passage de la souris sur un élément #}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}    