{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/dataTables/dataTables.bootstrap4.min.css">
{% endblock %}

{% block body %}
    <div class="container-fluid"> 
        <div class="row">
            <div class="col">
                <table class = "table display responsive table-striped" width = "100%" id = "liste-chauffeur">    
                    <thead>
                        <tr>
                            <th>{% trans %}Gender{% endtrans %}</th>
                            <th>{% trans %}Last name{% endtrans %} </th>
                            <th>{% trans %}First name{% endtrans %}</th>
                            <th>{% trans %}Email{% endtrans %}</th>
                            <th>{% trans %}Mobile number{% endtrans %}</th>
                            <th>{% trans %}Date of birth{% endtrans %}</th>
                            <th>{% trans %}Address{% endtrans %}</th>
                            <th>{% trans %}Driver license Category{% endtrans %}</th>
                            <th class = "text-right">{% trans %}Action{% endtrans %}</th>                         
                        </tr>
                    </thead>
                    <tbody>
                        {% for chauffeur in chauffeurs %}
                            <tr class='{% if not chauffeur.statutChauffeur %} bg-light font-weight-light {% endif %}' >
                                <td class ="text-center"><i class="fas fa-{{chauffeur.genreChauffeur}} "></i></td>
                                <td>{{chauffeur.nomChauffeur}}</td>
                                <td>{{chauffeur.prenomChauffeur}}</td>
                                <td><a href="mailto:{{chauffeur.emailChauffeur}}">{{chauffeur.emailChauffeur}}</a></td>
                                <td>{{chauffeur.mobileChauffeur}}</td>
                                <td>{{chauffeur.dateNaissanceChauffeur | date('d.m.Y') }}</td>
                                <td>{{chauffeur.adressePostaleChauffeur}}</td>
                                <td >
                                    {% if chauffeur.permisConduire %}
                                       {% if chauffeur.permisConduire.categoriePermisConduires is not empty %}
                                            {% for categorie in chauffeur.permisConduire.categoriePermisConduires %} 
                                                <p class="badge badge-dark " title="{% trans %}Category{% endtrans %} : {{categorie.nomCategoriePermisConduire}}" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="{{categorie.infoCategoriePermisConduire}}">{{categorie.nomCategoriePermisConduire}}</p> 
                                            {% endfor %}
                                        {% else %}
                                        <a href="{{ path('secretariat_chauffeur_modifier', {'id': chauffeur.id}) }}" class="btn btn-outline-light text-danger">{% trans %}Edit driver to add category{% endtrans %}</a>
                                        {% endif %}
                                    {% else %}    
                                        <a href="{{ path('secretariat_chauffeur_modifier', {'id': chauffeur.id}) }}" class="btn btn-outline-light text-danger">{% trans %}Edit driver to add licence{% endtrans %}</a>
                                    {% endif %}    
                                </td> 
                                <td class = "float-right">
                                    {% if chauffeur.statutChauffeur %}
                                        <a href="{{ path('secretariat_chauffeur_details', {'id': chauffeur.id}) }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}See details{% endtrans %}" class="btn btn-outline-dark"><i class="fas fa-eye"></i></a>
                                        <a href="{{ path('secretariat_chauffeur_modifier', {'id': chauffeur.id}) }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Edit driver{% endtrans %}" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                                        <a href="{{ path('secretariat_chauffeur_statut', {'id': chauffeur.id}) }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Disable driver{% endtrans %}" class="btn btn-outline-danger" onclick="return confirm(
                                            `{% trans %}Are you sure you want to disable this driver{% endtrans %} : {{chauffeur.nomChauffeur}} {{chauffeur.prenomChauffeur}} ?\n{% trans %}This action is reversible{% endtrans %} !`)"><i class="fas fa-trash fa-lg"></i> </a>
                                    {% else %}
                                        <a href="{{ path('secretariat_chauffeur_statut', {'id': chauffeur.id}) }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Enable driver{% endtrans %}" class="btn btn-success"><i class="fas fa-trash-restore-alt"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}   
                    </tbody>
                </table>  
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" language="javascript" src="/js/dataTables/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="/js/dataTables/dataTables.bootstrap4.min.js"></script> 
    <script type="text/javascript" language="javascript" src="/js/dataTables/moment.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/dataTables/date-eu.js"></script>

    {# pagination/recherche/tri dans un tableau #}
    <script type="text/javascript" class="init">
        $(document).ready(function()
        {    
            locale = '{{app.request.locale}}';     
            $('#liste-chauffeur').DataTable( 
            {
                language: { "url": "/js/dataTables/"+locale+".lang" },
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Tous"]],
                order: [ 1, 'asc' ],
                columnDefs: 
                [
                    {
                        targets: [ 0 ],     
                        searchable: false,
                        bSortable: false
                    },
                    { 
                        targets: [ 5 ],
                        type: 'date-eu'   
                    },
                    {
                        targets: [ 7, 8 ],
                        bSortable:false,
                        searchable: false,
                    },     
                ]         
            });
        });
    </script>

    {# affichage popup au passage de la souris sur une categorie de permis #}
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        })
    </script>
    
    {# affichage d'une infobule au passage de la souris sur une cellule du tableau #}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}