{% extends 'base.html.twig' %} 
 
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/dataTables/dataTables.bootstrap4.min.css">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <table class = "table  display responsive table-striped" width = "100%"  id = "liste-vehicule">    
                    <thead>
                        <tr>      
                            <th>{% trans %}Numberplate{% endtrans %}</th> 
                            <th>{% trans %}Brand{% endtrans %}</th>
                            <th>{% trans %}Model{% endtrans %}</th>
                            <th>{% trans %}Capacity{% endtrans %}</th>
                            <th class = "text-right">{% trans %}Action{% endtrans %}</th>   
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in tableau %}
                            {% set vehicule = element['vehicule'] %}
                            <tr>
                                <td>{{vehicule.immatriculationVehicule}}</td>
                                <td>{{vehicule.modeleVehicule.marqueModeleVehicule }}</td>
                                <td>{{vehicule.modeleVehicule.nomModeleVehicule}}</td>
                                <td>{{vehicule.modeleVehicule.capaciteModeleVehicule}}</td>
                                <td class = "text-right">
                                    {% if element['affectations'] is empty and vehicule.statutVehicule == 1 %}                                
                                        <a href="{{ path('logistique_affectation_vehicule_ajouter', {'entite': vehicule.id}) }}" class="btn btn-outline-warning" data-toggle="tooltip" data-placement="bottom" title="{% trans %}No assignment : add one{% endtrans %} !" ><i class="fas fa-plus"></i></a>                                      
                                    {% endif %}               
                                    {% if element['affectations'] is not empty %}     
                                        <a href="{{ path('logistique_vehicule_affectation', {'id': vehicule.id}) }}" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Vehicle assignments{% endtrans %}"><i class="fas fa-calendar-check"></i></a>
                                    {% endif %}
                                    {% if  element['affectations'] is not empty and vehicule.statutVehicule == 1 %}
                                        <a href="{{ path('logistique_affectation_vehicule_ajouter', {'entite': vehicule.id}) }}" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Add an assignment{% endtrans %}" ><i class="fas fa-plus"></i></a>                         
                                    {% endif %}
                                </td>
                            </tr> 
                        {% endfor %}   
                    </tbody>
                </table>  
             </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" language="javascript" src="/js/dataTables/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="/js/dataTables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/dataTables/moment.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/dataTables/date-eu.js"></script>
    
    <script type="text/javascript" class="init">
        $(document).ready(function()
        {    
            locale = '{{app.request.locale}}';  
            $('#liste-vehicule').DataTable( 
            {           
                language: { "url":"/js/dataTables/"+locale+".lang" },
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Tous"]],
                order: [ 0, 'asc' ],
                columnDefs: 
                [
                    {
                        targets: [ 4 ],
                        bSortable: false
                    }       
                ]                  
            });
        });
    </script>
    
    {# affichage d'une infobule au passage de la souris sur une cellule du tableau #}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}    